.camera-container {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;  
  flex-direction: column;
}

.navbar-wrapper {
  display: flex;
  margin: 0 auto;
  flex: 1 1 auto;  
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  font-size: 12pt;
  color: #fafafa;
  background-color: #041e42;
  text-align: center;
  justify-content: center;
}

.t {
	display: none !important;
}

.camera-preview {
  display: flex;
  margin: 0 auto;
  width: 98%;
  height: 480px;
  flex: 1 0 auto;
  /* border: 2px solid #00f; */
  background: #97999B;
  padding: 0.838%;
}

.camera-control > button {
  background-color: #2D2926;
  color: #FAFAFA;
}




.camera-card {
  display: flex;
  margin: 0 auto;  
  border: 1px solid #2D2926;
}

.camera-control { 
  display: flex;
  width: 16.18%;
  align-items: center;  
  justify-items: center;
  justify-content: center;
  background: #C8C9C7;
  border: 1px solid #2D2926;  
}

.button-control {
  display: flex;
  width: 100%;
  height: 4.2rem;
}


.button-control--notok {
  width: 100%;
  color: white;
  font-size: 22pt;
  background-color: #d6001c;
}

.button-control--ok {
  width: 100%;
  color: white;
  font-size: 22pt;
  background-color: #60b269;
}


.last-result {
  display: flex;
  margin: auto;
  margin-top: 1.618%;
  width: 83.82%;
  font-size: 22pt;
  padding: 1.618%;
  justify-content: space-around;
  justify-self: center; 
  align-items: center; 
  flex: 1 auto;
  background-color: #94A596;
}

.last-result > button {
  color: #FAFAFA;
  background-color:  #005d6d;
}
