<div class="camera-container">

  <div class="navbar-wrapper">
    <mat-toolbar class="navbar">
      <span>CLASSIFICADOR: __CLASSIFICADOR__</span>
      <img src="assets/icons/scania-icon.png" alt="">
    </mat-toolbar>
  </div>

  <div class="camera-preview">
    

    <div class="camera-card" [ngClass]="{'t': displayPreview}">      
        <video #video autoplay="true" id="video"  width="640" height="480"></video>      
    </div>

    <div class="camera-control">

      <button
        mat-fab
        [hidden]="displayPreview"
        id="button_1"
        (click)="takePicture()"
      >
        <mat-icon>camera</mat-icon>
      </button>
    </div>

    <div class="camera-card" [ngClass]="{'t': !displayPreview}">
      <canvas
        #canvas
        id="canvas"
        width="640"
        height="480"
        style="background: navy; border: 1px solid #000000;"
      >
      </canvas>
    </div>
    
  </div>

  <div class="button-control" [ngClass]="{'t': !displayPreview}">
    <button mat-button color="primary" class="button-control--notok" (click)="displayPreview = false" >NOT OK</button>
    <button mat-button color="secondary" class="button-control--ok" (click)="classify()">OK</button>
  </div> 
  
  <div class="last-result"  [ngClass]="{'t': displayPreview}">
    <span> ULTIMO RESULTADO: {{ response?.content.result }} - {{ response?.content.confidence * 100 }}% - {{ 0 }} </span>
    <button mat-button>VER MAIS</button>
  </div>

</div>



