.camera-container {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;  
  flex-direction: column;  
}

.navbar {
  display: flex;  
  font-size: 12pt;
  color: #fafafa;
  background-color: #041e42;
  text-align: center;
  justify-content: center;
}

.navbar-wrapper {
  display: flex;
  margin: 0 auto;
  flex: 1 1 auto;
  background-color: #CEB888;
  padding: -5%;
  justify-content: center;  
}

.instruction-wrapper {
  display: flex;
  margin: 0 auto;  
  align-content: space-around;  
}

.instruction {
  display: flex;
  flex: 1 1 auto;    
  margin-left: 2%;
}

.identifier {
  display: flex;
  flex: 1 1 auto; 
  margin-left: 2%;
}

.identifier > span{
  color: red;
  font-weight: bold;
}

.hidden {
	display: none !important;
}

.camera-preview {
  display: flex;  
  margin: 0 auto;
  flex: 1 1 auto;  
  background: #97999B;
  padding: 0.838%;
}

.camera-preview--ok {
  background-color: #60b269;
}

.camera-preview--notok {
  background: #d6001c;
}


.camera-card {
  display: flex;
  margin: 0 auto;  
  /* height: 480px; */
  /* border: 1px solid #2D2926; */
  border: 1px solid lime;
  
}

.barcode-wrapper {
  display: flex;
  margin: 0 auto;
  width: 640px;
  height: 480px;
  border: 2px solid red;
}

.barcode-wrapper--mobile {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 2px solid red;
}

.camera-control { 
  display: flex;
  width: 16.18%;
  align-items: center;  
  justify-items: center;
  justify-content: center;
  background: #C8C9C7;
  border: 1px solid #2D2926;

}

.camera-control > button {
  background-color: rgb(145, 144, 148)  
}

.camera-icon {
  width: 1.61rem;
  height: 1.61rem;
}

.camera-button-container--mobile {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 1.61%;
  background-color: #C8C9C7;
}

.button-control {
  display: flex;
  width: 100%;
  height: 3.8rem;  
}

.button-control--button {
  width: 100%;
  color: #FAFAFA;
  font-size: 20pt;
  background-color: #d6001c;
}


.button-control--button__notok {      
  background-color: #d6001c;
}

.button-control--button__ok { 
  background-color: #60b269;
}

.last-result {
  display: flex;
  margin: auto;    
  font-size: 2.2vh;  
  justify-content: space-around;
  justify-self: center; 
  align-items: center; 
  flex: 1 0 auto;
  background-color: #94A596;
  border: 1px solid #000;
}

.last-result > button {
  font-size: 10pt;
  font-weight: bold;
  color: #FAFAFA;
  background-color:  #005d6d;
}

.result-preview {
  display: flex;
  margin: auto;  
  justify-content: space-around;
  justify-self: center; 
  align-items: center;   
  color: #FAFAFA;
  background-color: #005d6d;  
}



canvas {
  background-color: #041e42;
  border: 1px solid #000000;
  
}

video {
  border: 1px solid blue;   
}


@media (max-width: 600px) 
{
  /* .camera-preview { 
    height: 100px;
    flex: 1 0 auto;  
   } */

   #video {
     width: 360px;
     height: 300px;
   }
}

.camera-wrapper {  
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}