<ng-container>
      <div class="barcode-bar">
        <!-- <button (click)="openCamera()">OPEN CAMERA</button>
        <button (click)="closeCamera()">CLOSE CAMERA</button> -->
        <button [hidden]="barcodeOpened" (click)="openBarcodeScanner()">OPEN BARCODE</button>
        <button [hidden]="!barcodeOpened" (click)="closeBarcodeScanner()">CLOSE BARCODE</button>
    </div>
    <div class="camera-preview" [style.background]="backgroundColor">
      <div class="camera-wrapper">
        <video  #video id="video" preload="auto" autoplay  playsinline width="640" height="480"></video>
        <canvas #canvas id="canvas" width="640" height="480"></canvas>
        <canvas #hiddenCanvas id="hiddenCanvas" width="640" height="480"></canvas>
        <div #barcode id="barcode" width=640 height=480>
          <video src=""></video>
          <canvas class="drawingBuffer"></canvas>
        </div>
      </div>
    <div
    [hidden]="!isReading"
    [className]="isMobile ? 'capture-button--mobile' : 'capture-button'">
      <app-capture-button [enabled]="serverModel" (capture)="onCapture()"> </app-capture-button>
    </div>
  </div>
  <app-confirmation-buttons
    [hidden]="isReading"
    (submit)="onSubmit()"
    (cancel)="onCancel()">
  </app-confirmation-buttons>
</ng-container>
