.instruction-wrapper {
    display: flex;
    font-size: small;
    border: 1px solid #000;
}

.step--number {
  font-weight: bold;
}

.step--text {
  margin-left: 5%;
}

.instruction {
    flex: 1 1 auto;
    text-align: center;
    justify-content: center;
}


.identifier--text {

}

.identifier--value {
  background: #000;
  color: white;
  font-weight: bold;
  margin-left: 5%;
  padding: 0 3% 0 3%;
}
