<ng-container>

  <mat-toolbar class="navbar">

    <div class="navbar-menu">
      <button mat-stroked-button [matMenuTriggerFor]="menu">-</button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/">APP</a>
        <a mat-menu-item routerLink="/config">CONFIG</a>
        <a mat-menu-item routerLink="/models">MODELOS</a>
        <a mat-menu-item routerLink="/log">LOG</a>
        <a mat-menu-item onclick="location.reload()">RECARREGAR</a>
      </mat-menu>
    </div>

    <div class="navbar-title">
      <span>COMPUTER VISION APP</span>
    </div>

    <div class="navbar-icon">
      <img src="assets/icons/scania-icon.png" alt="" />
    </div>

  </mat-toolbar>

</ng-container>
