.models-wrapper {
  display: flex;
  margin: 0 auto;
}

table {
  width: 100%;
}

tr:nth-child(even) {background: #aaa2a2}
tr:nth-child(odd) {background: #E2E2E2}

td {
  padding: 0.25%;
  text-align: center;
}
