<ng-container>
  <div class="models-wrapper">
    <table class="models-table">
      <thead>
        <th>ID</th>
        <th>NOME</th>
        <th>MODELO CLIENTE</th>
        <th>MODELO SERVIDOR</th>
      </thead>
      <tbody>
        <!-- SE TIVER, APARECER BOTAO PARA DELETAR, SENAO, APARECER BOTAO PARA ADICIONAR -->
        <tr *ngFor="let instance of instances">
          <td>{{ instance.id }}</td>
          <td>{{ instance.name }}</td>
          <td>
            <div>{{ instance.clientModel }}</div>
            <input type="file" (change)="handleFileInput($event.target.files, 'client')"/>
          </td>
          <td>
            <div>{{ instance.serverModel }}</div>
            <input type="file" (change)="handleFileInput($event.target.files, 'server')"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
