.log-wrapper {
  overflow: initial;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0.5%;
}

.header h1 {
  font-size: 1rem;
}

.filter-wrapper {
  display: flex;
  justify-content: space-evenly;
}
