<ng-container>
    <app-instance-info [status]="status" [instanceDevice]="instanceDevice"></app-instance-info>
    <app-instructions [status]="status" [instruction]="instruction"></app-instructions>
    <app-camera
        (cameraEvent)="onCameraEvent($event)"
        [instanceDevice]="instanceDevice"
        [code]="instruction.code"
        >

    </app-camera>
    <app-inference-preview [modelFound]="modelFound" [inference]="inferencePreview" ></app-inference-preview>
    <app-last-result [lastResult]="lastResult"></app-last-result>
</ng-container>
