<ng-container>
    <div class="create-container">
        <mat-form-field class="">
            <mat-label>NOME</mat-label>
            <input matInput [(ngModel)]="instanceForm.name">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>TIPO</mat-label>
            <mat-select [(ngModel)]="instanceForm.type">
                <mat-option *ngFor="let t of instanceTypes; let i = index" [value]="i" >
                    {{ instanceTypes[i] }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>LEITURA</mat-label>
            <mat-select [(ngModel)]="instanceForm.identifierMode">
                <mat-option *ngFor="let im of identifierModes; let i = index" [value]="i" >
                    {{ identifierModes[i] }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>SALVAR</mat-label>
            <mat-select [(ngModel)]="instanceForm.save">
                <mat-option [value]="true">SIM</mat-option>
                <mat-option [value]="false">NÃO</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="create-container--control">
        <button *ngIf="!editMode" class="" mat-raised-button (click)="createInstance(instanceForm)">CRIAR</button>
        <button *ngIf="editMode" class="" mat-raised-button (click)="updateInstance(instanceForm)">ATUALIZAR</button>
        <button *ngIf="editMode" class="" mat-raised-button color="warn" (click)="cancel()">CANCELAR</button>
    </div>

    <mat-table [dataSource]="instances" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{ instance.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>NOME</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{ instance.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>TIPO</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{ getInstanceType(instance.type) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="identifierMode">
            <mat-header-cell *matHeaderCellDef>LEITURA</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{ getIdentifierMode(instance.identifierMode) }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="save">
            <mat-header-cell *matHeaderCellDef>SALVAR</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{ instance.save ? 'SIM' : 'NÃO' }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef>CRIADO EM</mat-header-cell>
            <mat-cell *matCellDef="let instance"> {{ instance.createdAt.slice(0,16) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let instance">
                <button class="config-button config-button--edit" (click)="editInstance(instance)"
                    mat-raised-button color=''>EDIT</button>
                <button class="config-button config-button--delete" (click)="deleteInstance(instance)"
                    mat-raised-button color='warn'>DELETE</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedInstanceColumns"></mat-header-row>
        <mat-row *matRowDef="let instance; columns: displayedInstanceColumns"></mat-row>
    </mat-table>
</ng-container>
