.home-container {
    display: flex;
    width: 100%;
    margin: 0 auto;        
    flex-wrap: nowrap;
    flex-direction: column;
}

.title {
    display: flex;
    width: 100%;    
    flex: 1 1 auto;
    border: 1px solid #000;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.instance--wrapper {
    display: flex;
    width: 100%;
    border: 1px solid #000;
    align-content: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.instance {
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex: 1 1 auto;
    border: 1px solid #000;
    justify-content: center;
}