.navbar-container {
  display: flex;
  padding: 0%;
  margin: 0;
}

.navbar {
  justify-content: space-between;
  color: #fafafa;
  background-color: #041e42;
  font-size: 12pt;
}

.navbar-menu {
  display: flex;
}

.navbar-title {
  display: flex;
}

.navbar-icon {
  display: flex;
  max-width: 10%;
}

.navbar-icon img {
  width: 100%;
}
