<ng-container>
  <div class="header">
    <h1>CONFIGURAÇÕES</h1>
  </div>

  <!--
  <div class="table-header">
    <span>ID</span>
    <span>DEVICE NAME</span>
    <span>USUARIO</span>
    <span>IP</span>
    <span>INSTANCIA</span>
    <span>CRIADO EM</span>
  </div> -->


<!--
  <div class="table-body">
    <div class="table-row" *ngFor="let device of devices">
      {{ device.id }}
      {{ device.createdAt }}
      {{ device.deviceId }}
      {{ device.deviceType }}
      {{ device.instance }}
      {{ device.ip }}
      {{ device.user }}
      <button mat-button (click)="update()">EDITAR</button>
      <button mat-button color="primary"  (click)="delete(device)">EXCLUIR</button>
    </div>
  </div> -->



  <mat-tab-group mat-stretch-tabs="always" mat-align-tabs="center">
    <mat-tab label="DISPOSITIVOS">


      <form class="create-container">
        <mat-form-field class="">
          <mat-label>NOME</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>USUARIO</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>IP</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>TIPO</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>INSTANCIA</mat-label>
          <input matInput>
        </mat-form-field>
          <button mat-button>CRIAR</button>

      </form>


      <mat-table [dataSource]="devices" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceId">
          <mat-header-cell *matHeaderCellDef>NOME</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.deviceId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef>USUARIO</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.user }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ip">
          <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.ip }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceType">
          <mat-header-cell *matHeaderCellDef>TIPO</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.deviceType }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="instance">
          <mat-header-cell *matHeaderCellDef>INSTANCE</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.instance }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef>CRIADO EM</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.createdAt }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button>EDIT</button>
            <button mat-button>DELETE</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-tab>

    <mat-tab label="INSTÂNCIAS">

      <form class="create-container">
        <mat-form-field class="">
          <mat-label>NOME</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>USUARIO</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>IP</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>TIPO</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>INSTANCIA</mat-label>
          <input matInput>
        </mat-form-field>
          <button mat-button>CRIAR</button>

      </form>


      <mat-table [dataSource]="devices" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceId">
          <mat-header-cell *matHeaderCellDef>NOME</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.deviceId }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef>USUARIO</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.user }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ip">
          <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.ip }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceType">
          <mat-header-cell *matHeaderCellDef>TIPO</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.deviceType }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="instance">
          <mat-header-cell *matHeaderCellDef>INSTANCE</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.instance }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <mat-header-cell *matHeaderCellDef>CRIADO EM</mat-header-cell>
          <mat-cell *matCellDef="let device"> {{ device.createdAt }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button>EDIT</button>
            <button mat-button>DELETE</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

    </mat-tab>
  </mat-tab-group>
</ng-container>
