.header {
    font-size: larger;
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
}

.table-header {
    display: flex;
    width: 97%;
    margin: 0 auto;
    font-weight: bold;
    /* justify-content: space-evenly; */
}

.table-body {
    /* display: flex;     */
    width: 97%;
    margin: 0 auto;
}

.table-row {
    border: 1px solid #000;
    /* display: flex;
    justify-content: space-evenly; */
}

mat-table {
  margin: 0 auto;
  width: 95%;
}


mat-tab-group {
    margin: 0 auto;
}

.create-container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.create-container--control {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2.5%;
}

.create-container mat-form-field {
    width: 15%;
    margin-left: 2%;
    justify-content: space-evenly;
}


.config-button {
    color: #FAFAFA;
    margin-left: 5%;
    /* padding: 0; */
    font-size: 1rem;
}

.config-button--create {
    background-color: limegreen;
    font-weight: bold;
    /* padding: 0 1.5% 0 1.5%; */
}

.config-button--update {
    background-color: limegreen;
    margin-left: 1.5%;
    /* font-weight: bold; */
    padding: 0 1.5% 0 1.5%;
}

.config-button--cancel {
    background-color: red;
    margin-left: 1.5%;
    padding: 0 1.5% 0 1.5%;
    font-weight: bold;
}

.config-button--edit {
    background-color: darkorange;
}

.config-button--delete {
    background-color: red;
}

